body {
	background: #fffff8;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
	display: grid;
	grid-auto-rows: minmax(150px, auto);
	grid-template-columns: 1fr 2fr;
	width: 90%;
	height: 100vh;
	min-height: 800px;
	background: #f23557;
	color: #f0d43a;
	justify-content: center;
	grid-gap: 1em;
	font-size: 20px;
	font-family: "Oswald", sans-serif;
	margin: auto;
}

.holder {
	/* max-width: 550px; */
}

.entry {
	background: rgba(59, 74, 107, 0.4);
	grid-column: 2/3;
	grid-row: 1/5;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding: 0 0 0 0.8rem;
}

#entryHolder {
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	flex-direction: row;
	margin: 1.1rem 0 0 0;
}

#date {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	align-items: flex-start;
}

#temp {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
}

#content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
}
#content p {
	min-height: 29.6px;
}

.headline {
	grid-column: 1/2;
	grid-row: 1/2;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
}
.zip {
	grid-column: 1/2;
	grid-row: 2/3;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 0 0 0.8rem;
}
.zip #zip {
	width: 97%;
}
.feel {
	grid-column: 1/2;
	grid-row: 3/5;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
	/* padding: 0 0 0 0.8rem; */
	margin: auto;
}
.feel #generate {
	margin: 0.5rem auto;
}
.entry .title {
	margin: 4rem auto;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
	display: block;
	font-size: 27px;
}

input {
	display: block;
	height: 60px;
	width: 320px;
	background: #22b2da;
	color: #f0d43a;
	font-size: 20px;
	font-family: "Oswald", sans-serif;
	border: none;
}

button {
	width: 400px;
	height: 100px;
	background: #3b4a6b;
	color: #f0d43a;
	font-size: 26px;
	font-family: "Oswald", sans-serif;
	border: none;
	box-shadow: 2px 4px 5px #444;
}
h1 {
	font-size: 36px;
}

textarea {
	background: #22b2da;
	color: #f0d43a;
	font-size: 20px;
	font-family: "Oswald", sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
	/* Firefox, Chrome, Opera */
	color: #f0d43a;
	font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #f0d43a;
	font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #f0d43a;
	font-family: "Oswald", sans-serif;
}
